html
	head
		title
		link(href='/public/simple-color-picker.css', rel='stylesheet')

	body
		block scripts 
			script(type='text/javascript' src='../public/bundle.js')
		form(method="post",enctype="multipart/form-data",action="/")
			p
				input(type="text",name="title",placeholder="title")
			p
				input(type="file",name="upl")
			p
				input(type="submit")