
<html>
  <head>
    <title></title>
    <link href="./simple-color-picker.css" rel="stylesheet"/>
  </head>
  <body>
    <script type="text/javascript" src="../public/bundle.js"></script>
    <form method="post" enctype="multipart/form-data" action="/">
      <p>
        <input type="text" name="title" placeholder="title"/>
      </p>
      <p>
        <input type="file" name="upl"/>
      </p>
      <p>
        <input type="submit"/>
      </p>
    </form>
  </body>
</html>