html
	head
		title
		link(href='/public/simple-color-picker.css', rel='stylesheet')
	

	body
		block scripts 
			script(type='text/javascript' src='../public/bundle.js')

		form(method='post',enctype="multipart/form-data",action='/')
			input(type="file",name="upload")
			input(type="submit")
		button(type='button', id='clear').
			Clear Canvas
		form(method='post', enctype='multipart/form-data', action='/')
			button(type='submit', name='sendImage', id='send').
				Send Image
		div(id='container')


	